.tweet-wrapper{
    border: 1px solid black;
    border-radius: 5px;
    padding:1rem;
    margin-bottom: 1rem;
    width: 650px;
    font-size: larger;
    /* margin-left:10px; */
    /* display: flex; */
    /* justify-content: center; */
}

.tweet-edit-wrapper{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.tweet-content{
    margin-bottom: 1rem;
}


.like-createdAt-wrapper{
    display: flex;
    justify-content: space-between;
}

.likes, .created-at{
    font-size: xx-small;
}